.input_sec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    display: flex;
    align-items: center;
    gap: 5px;
}

label {
    font-weight: bold;
}

